.quizPage {
    width: 100%;
    height: calc(100vh - 12vh);
    position: relative;
    top: 12vh;
    flex-direction: column;
    background-image: url('../../assets/FP_Background_Wallpeaper.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.quizPageBottom {
    width: 100%;
    padding: 0 7%;
    height: 15vh;
    background-color: #000000cd;
}

.timer {
    font-size: 3rem;
    color: #fff;
    border: 5px solid #fff;
    height: 12vh;
    width: 12vh;
    margin-right: 30%;
    border-radius: 50%;
}

.question_Answer_Area {
    width: 100%;
    padding: 15px 7%;
    height: 85vh;
    background-color: #ffffffcd;
}

.question_Answer_Area h1 {
    max-height: 30%;
    padding: 20px;
    border-radius: 10px;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    background-color: green;
}

.answer_Area {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.answer_Area .ans {
    list-style: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 2.5rem;
    background-color: #000000e3;
    color: #fff;
}

.answer_Area .ans:hover {
    cursor: pointer;
    background-color: green;
}

.answer_Area .correct {
    color: #000;
    background-color: yellow;
}

.answer_Area .wrong {
    color: #fff;
    background-color: red;
}

.answer_Area.pointer {
    pointer-events: none;
}

.quizPageBottom {
    width: 100%;
}

.quizPageBottom .quizPageBottomLeft {
    width: 80%;
}

.quizPageBottom .quizPageBottomLeft h1 {
    font-size: 4rem;
    color: #fff;
}

.quizPageBottom .quizPageBottomRight {
    width: 20%;
}

.quizPageBottom .quizPageBottomRight .btn {
    padding: 10px 20px;
    font-size: 2.5rem;
}

.quizPageBottom .quizPageBottomRight .none {
    display: none;
} 
